<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="www/style.css">
    <title>Joao Ramalho</title>
  </head>
  <body>

    <div class="sidenav">
      <div>
        <img style="padding: 1px 8px 1px 8px" src="img/JR-AI2.jpg" alt="" width="120px">
        <h3 style="padding: 1px 8px 1px 8px">João Ramalho</h3>
        <p style="padding-left: 8px">Industrial Data Scientist</p>
      </div>

      <a href="index.html">About</a>
      <a href="experience.html">Industrial Projects</a>
      <a href="training.html">Industrial Data Science</a>
      <a href="posts.html">Data Science</a>
    </div>

    <div class="main">
      <div class="content">
        <h3>
          Industrial Data Science
        </h3>
        
<!--begin.rcode, 
summary(cars)
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

        <p>
         I'm a senior Industrial Data Scientist and my main interests are in:
       </p>
        <ul>
          <li>Design of Experiments</li>
          <li>Measurement System Analysis</li>
          <li>Process Control</li>
        </ul>
        <p>
          I am active in the in the manufacturing industry since 22 years, in three of the largest and most successfull companies in the world: Philip Morris, Rolex and now Nestlé. Having held numerous positions in R&D, Operations and IT I have a broad understanding of how consumer goods are conceived, industrialized and manufactured.
        </p>
        <p>
          My background is Mechanical Engineering from the <a href="http://ist.pt/" target="_blank">IST</a> of Lisbon, I have a Project Management certification from <a href="https://www.pmi.org/" target="_blank">PMI</a> and a Data Science certification from <a href="https://www.datacamp.com/" target="_blank">DataCamp.</a> Currently I'm specializing in Data Visualization at the Swiss technical university <a href="https://www.extensionschool.ch/" target="_blank">EPFL</a>.
        </p>
      </div>
      <footer class="footer">
        <iframe src="footer.html" width="" height=""></iframe>
      </footer>
    </div>

  </body>
</html>




