body {
  /* font-family: "Liberation Mono", Arial; */
  font-family: "Manjari", Arial;
  font-size: 16px;
  max-width: 1200px;
  background-color: #ffffff; /*#edf1f7*/
}
h2 {
  color: #38598CFF;
}
h3 {
  color: #38598CFF;
}
a {
  color: #2D708EFF;
}
.sidenav {
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #ffffff; /*#edf1f7 #eee*/
  overflow-x: hidden;
  padding: 8px 0;
  margin-left: 50px;
  text-align: center;
}
.sidenav a {
  padding: 1px 8px 1px 8px;
  text-decoration: none;
  font-size: 18px;
  color: #2D708EFF;
  display: block;
}
.sidenav a:hover {
  color: #2D708EFF;
}
#side-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1px 8px 1px 8px;
  border-radius: 100%;
}
.text-center {
  text-align: center;
}
.main {
  margin-left: 330px;
  padding: 0px 10px;
}
.content {
  min-height: 400px;
}
iframe {
    border: none;
    width: 100%;
}
.grid-container {
  display: grid;
  /*height: 400px;*/
  align-content: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  /*background-color: #2196F3;*/
  padding: 10px;
}
.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: left;
  padding: 20px 0;
  font-size: 18px;
}
